name: CI PowerVS

on:
  push:
    branches: [ devel ]
  pull_request:
    branches: [ devel ]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-18.04, ubuntu-20.04, macos-10.15, macos-11.0, windows-latest]

    runs-on: ${{ matrix.os }}

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Running setup
      run: bash openshift-install-powervs setup

    - name: Re-running setup with trace enabled
      run: bash openshift-install-powervs setup -trace

